<footer class="footer">
  <small>
    <strong><a href="http://www.johneverett.com">John Everett Udemy Project</a></strong>
    by <em><a href="http://john.everett.com">John Everett</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
    </ul>
  </nav>
</footer>